
/* ✅ ตัวอย่างที่ถูกต้องใน agent_report_styles.css */
body {
  background-color: #e2e2e2; /* หรือสีที่คุณต้องการ */
  font-family: 'Prompt', sans-serif;
  margin: 0;
  padding: auto;
}

nav ul li {
  font-size: 16px;
  cursor: pointer;
}

nav ul li:hover,
nav ul li:focus {
  color: #35a936;
}

main {
  background-color: #e2e2e2;
  padding: 0px 30px;
  min-height: 100vh;
}

h2{
  font-size: 1.2rem;
  color: #333;

}
.search-icon {
  font-size: 0.8rem;
  color: #ffffff; /* Tailwind: gray-600 */
  cursor: pointer;
  margin-right: 3px;
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
  font-size: 20px;
}

.arrow-icon {
  font-size: 1.2rem;
  color: #5d625d;
  display: flex;
  align-items: center;
  height: 100%;
}


.home-page button {
  background-color: #969696;
  font-family: "NotoSansLao", "Montserrat", sans-serif;
  font-size: 1.3cap;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  margin-bottom: 0.5rem;

}

button:hover {
  background-color: #555;
}

label{
  font-weight: bold;
  margin-bottom: 5px;
  display: block; 
  font-size: 1.1rem;
}

input[type="date"],
input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #e2e8f0;
  font-weight: bold;
}

table td {
  font-size: 14px;
}

.filter-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .filter-row {
    flex-direction: row;
    align-items: flex-end;
  }
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  flex: 1;
  min-width: 100px;
}


.filter-group input {
  margin-top: 5px;
}

.filter-button {
  height: fit-content;
  margin-top: 6px;
}

.input-wrapper {
  position: relative;
  max-width: 100%;
  margin-right: 20px;
}

.input-with-icon {
  padding-right: 30px;
  width: 100%;
}


