@font-face {
  font-family: "NotoSansLao";
  src: url("./fonts/noto-sans-lao-lao-400-normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansLao";
  src: url("./fonts/noto-sans-lao-lao-700-normal.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



:root {
  --font-lao: "NotoSansLao", system-ui, -apple-system, "Segoe UI", sans-serif;
}

html, body, #root { height: 100%; }
body {
  margin: 0;
  font-family: var(--font-lao);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}